<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Favorite Subreddits</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='favorite_subreddits.css') }}">
</head>

<body>
<div class="content">
    {% for subreddit in subreddits %}
    <h1>r/{{ subreddit.name }}</h1>
    {% for post in subreddit.posts %}
    <div>
        <a href="{{ post.shortlink }}" rel="noopener noreferrer" target="_blank">({{ post.score }})
            {{ post.title }}</a>
        <br>
        <hr>
        {% if post.media_preview %}
        {{ post.media_preview | safe }}
        <br>
        {% elif post.image_preview %}
        <a href="{{ post.shortlink }}" rel="noopener noreferrer" target="_blank"><img
                src="{{ post.image_preview }}"></a>
        <br>
        {% endif %}
        <br>
    </div>
    {% endfor %}
    {% endfor %}
</div>
</body>

</html>