<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subreddit Image Viewer</title>
</head>
<body>
    <p>Enter subreddit name</p>
    <form method="post">
        <label>Subreddit name to be searched
            <input type="search" name="subreddit_search_bar" id="subreddit_search_bar">
        </label>
        <label>Search for subreddit
            <input type="submit" name="button" value="Subreddit search" id="search">
        </label>
        <label>Favorite subreddits
            <input type="submit" name="button" value="Favorite subreddits" id="favorite_subreddits">
        </label>
    </form>
</body>
</html>