<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viewing {{ subreddit_name }}</title>
</head>
<body>
    {% for post in posts %}
        <p>Post title: {{ post.title }}</p>
        <p>Post score: {{ post.score }}</p>
        <a href="{{ post.shortlink }}">Post link</a>
        <a href="{{ post.image_url }}">Image url</a>
        <br>
        <img src="{{ post.image_preview_url }}" alt="Error loading image">
    {% endfor %}
    <form method="post">
        <input type="submit" name="submit_button" value="Next Page">
    </form>
</body>
</html>